{% extends 'layout.html' %}

{% block css %}
{% endblock %}
{% block content %}

    <div class="pagetitle">
      <h1>AI Homepage</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/weibo_UI/index">Home</a></li>
          <li class="breadcrumb-item">AI</li>
          <li class="breadcrumb-item active">index_page</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div >
          <div class="row">

            <!-- Recent task -->
            <div class="col-12">
              <p>加油努力冲冲冲</p>

              <a href="/weibo_UI/choose_model">go to ollama</a>
                
            </div><!-- End Recent Sales -->

          </div>
        </div><!-- End Left side columns -->

        

      </div>
    </section>

{% endblock %}

{% block js %}

{% endblock %}