{% extends 'layout.html' %}

{% block css %}
{% endblock %}
{% block content %}

    <div class="pagetitle">
      <h1>知识库</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home/">Home</a></li>
          <li class="breadcrumb-item">Charts</li>
          <li class="breadcrumb-item active">知识库</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Kb</h5>
              <div class="col-sm-16">
                <label for="Kb_name">Kb_name:</label>
                <input type="text" id="Kb_name" name="Kb_name"  size="30" />
              </div>
              <label for="desc" class="col-sm-2 col-form-label">desc</label>
              <div class="col-sm-20">
                  <textarea class="form-control" style="height: 100px" id="desc"></textarea>
              </div>
              <div class="col-sm-13">
                <select id="vector_store_name" name="vector_store_name" class="form-select" aria-label="Default select example">
                  <option value="-1">--select_vector_store_name--</option>
                  <option value="milvus">milvus</option>
                </select>
              </div>
              <div class="col-sm-13">
                <select id="embedding_model_name" name="choose_select" class="form-select" aria-label="Default select example">
                  <option value="-1">--select_embedding_model_name--</option>
                  <option value="bge-large-zh-v1.5">bge-large-zh-v1.5</option>
                </select>
              </div>
              <div class="col-sm-3">
                <button id="submit_kb" type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            
            <div class="card-body">
              <h5 class="card-title">Doc Upload</h5>
              <form method="post" enctype="multipart/form-data" action="/weibo_UI/upload">
                <div class="row mb-3">
                    <label for="inputNumber" class="col-sm-8 col-form-label">File Upload</label>
                    <div class="col-sm-10">
                      <input class="form-control" type="file" id="formFile" name="file" multiple="">
                    </div>
                    <input type="submit" value="上传" class="btn btn-primary">
                    <label  class="col-sm-8 col-form-label">upload status: {{status}}</label>
                </div>
              </form>
              <div class="col-sm-10">
                <select id="KB_id" name="KB_id" class="form-select" aria-label="Default select example">
                  <option value="0">--请选择知识库的kb_id--</option>
                </select>
                <label id="kb_name"></label>
              </div>
              <div class="col-sm-16">
                <label for="Doc_id">Doc_id:</label>
                <input type="text" id="Doc_id" name="Doc_id"  size="30" />
              </div>
              <div class="col-sm-16">
                <label for="Doc_name">Doc_name:</label>
                <input type="text" id="Doc_name" name="Doc_name"  size="30" />
              </div>
              <div class="col-sm-13">
                <label for="doc_file">请选择doc文件，如没有，请选择上传:</label>
                <select id="doc_file" name="doc_file" class="form-select" aria-label="Default select example">
                  <option value="-1">--select_doc_file--</option>
                </select>
              </div>
              <div class="col-sm-13">
                <select id="doc_content_base64" name="doc_content_base64" class="form-select" aria-label="Default select example">
                  <option value="-1">--请选择--</option>
                  <option value="doc_content_base64">doc_content_base64</option>
                </select>
              </div>
              <div class="col-sm-3">
                <button id="submit_doc" type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </div>
       
      </div>
    </section>

{% endblock %}

{% block js %}
  <script src="/weibo_UI/static/js/jquery-3.6.0.min.js"></script>
  <script type="text/javascript">

    $(function () {
        //页面框架加载完成后代码自动执行
        bindBtn1Event_Task();
    })
    function bindBtn1Event_Task(){
      $("#submit_kb").click(function () {
            //var Kb_id = document.getElementById("Kb_id").value; // 获取输入框中的值
            var Kb_name = document.getElementById("Kb_name").value; // 获取输入框中的值
            //var Dim = document.getElementById("Dim").value; // 获取输入框中的值
            var vector_store_name = document.getElementById("vector_store_name").value; // 获取输入框中的值
            var embedding_model_name = document.getElementById("embedding_model_name").value; // 获取输入框中的值
            var desc = document.getElementById("desc").value; // 获取输入框中的值
            if (Kb_name=="") {
              alert('Kb_name 请填写!')
            } else if (vector_store_name=="-1") {
              alert('vector_store_name 请选择!')
            } else if (embedding_model_name=="-1") {
              alert('embedding_model_name 请选择!')
            } else if (desc=="") {
              alert('desc 请填写!')
            } else {
              $.ajax({
                  url:"/weibo_UI/submit_kb",
                  type:"post",
                  data:JSON.stringify({'Kb_name':Kb_name,'desc':desc,'vector_store_name':vector_store_name,'embedding_model_name':embedding_model_name}),
                  contentType: 'application/json; charset=UTF-8',
                  success: function(choose_dict) {
                      if (choose_dict['result']) {
                          alert('添加Kb成功');
                      } else {
                          alert('添加Kb失败');
                      }
                  },
  
              })
            }
  
        })
        
        $("#doc_file").click(function () {
          count = $('#doc_file').find('option').length
          if (count<=1) {
            $.ajax({
                url:"/weibo_UI/submit_doc",
                type:"post",
                data:JSON.stringify({'Type':'selec_file'}),
                contentType: 'application/json; charset=UTF-8',
                success: function(choose_dict) {
                  file_list=choose_dict['content']
                      $("#doc_file").find("option").remove();
                      count = $('#doc_file').find('file_list').length
                      $.each(file_list, function(index,item) {
                        if (!count) {
                          old_file=item['old'];
                          new_file=item['new'];
                          $("#doc_file").append(  //此处向select中循环绑定数据
                          "<option value="+new_file+">" + old_file+ "</option>");
                        }
                      });
                },
              
            })
          }

      })
        $("#submit_doc").click(function () {
            var Kb_id_doc = document.getElementById("KB_id").value; // 获取输入框中的值
            console.log(Kb_id_doc)
            var Doc_id = document.getElementById("Doc_id").value; // 获取输入框中的值
            var Doc_name = document.getElementById("Doc_name").value; // 获取输入框中的值
            var doc_file = document.getElementById("doc_file").value; // 获取输入框中的值
            var doc_content_base64 = document.getElementById("doc_content_base64").value; // 获取输入框中的值
            if (Kb_id_doc=="") {
              alert('Kb_id_doc 请填写!')
            } else if (Doc_id=="") {
              alert('Doc_id 请填写!')
            } else if (Doc_name=="") {
              alert('Doc_name 请填写!')
            } else if (doc_file=="-1") {
              alert('doc_file 请选择!')
            } else if (doc_content_base64=="-1") {
              alert('doc_content_base64 请选择!')
            } else {
              $.ajax({
                  url:"/weibo_UI/submit_doc",
                  type:"post",
                  data:JSON.stringify({'Type':'add_doc','Kb_id_doc':Kb_id_doc,'Doc_id':Doc_id,'Doc_name':Doc_name,'doc_file':doc_file,'doc_content_base64':doc_content_base64}),
                  contentType: 'application/json; charset=UTF-8',
                  success: function(choose_dict) {
                      if (choose_dict['result']) {
                          alert('添加doc成功');
                      } else {
                          alert('添加doc失败');
                      }
                  },
  
              })
            }
  
        })
        $("#submit_file_parsing").click(function () {
            var doc_id_parsing = document.getElementById("doc_id_parsing").value; // 获取输入框中的值
            var doc_name_parsing = document.getElementById("doc_name_parsing").value; // 获取输入框中的值
            var doc_file_parsing = document.getElementById("doc_file_parsing").value; // 获取输入框中的值
            var doc_file_parsing_way = document.getElementById("doc_file_parsing_way").value; // 获取输入框中的值
            if (doc_id_parsing=="") {
              alert('doc_id_parsing 请填写!')
            } else if (doc_name_parsing=="") {
              alert('doc_name_parsing 请填写!')
            } else if (doc_file_parsing=="") {
              alert('doc_file_parsing 请填写!')
            } else if (doc_file_parsing_way=="-1") {
              alert('doc_file_parsing_way 请选择!')
            } else {
              $.ajax({
                  url:"/weibo_UI/submit_file_parsing",
                  type:"post",
                  data:JSON.stringify({'Type':'add_file_parsing','doc_id_parsing':doc_id_parsing,'doc_name_parsing':doc_name_parsing,'doc_file_parsing':doc_file_parsing,'doc_file_parsing_way':doc_file_parsing_way}),
                  contentType: 'application/json; charset=UTF-8',
                  success: function(choose_dict) {
                      if (choose_dict['result']) {
                          alert('file parsing成功');
                      } else {
                          alert('file parsing失败');
                      }
                  },
  
              })
            }
  
        })
        $("#KB_id").click(function () {
          type_name='choose_KB'
          count = $('#KB_id').find('option').length
          console.log(count)
          if (count<=1) {
            $.ajax({
                url:"/weibo_UI/choose_model_post",
                type:"post",
                data:JSON.stringify({'type_name':type_name}),
                contentType: 'application/json; charset=UTF-8',
                success: function(choose_dict) {
                  file_list=choose_dict['content']
                      $("#KB_id").find("option").remove();
                      count = $('#KB_id').find('file_list').length
                      console.log(count)
                      $.each(file_list, function(index,item) {
                        kb_name=item['kb_name'];
                        kb_id=item['kb_id'];
                        if (!count) {
                          $("#KB_id").append(  //此处向select中循环绑定数据
                          "<option value="+kb_id+">" + kb_name+ "</option>");
                        }
                      });
                },
              
            })
          }

      })
    }
  
  </script>
  {% endblock %}