{% extends 'layout.html' %}

{% block css %}
{% endblock %}
{% block content %}

    <div class="pagetitle">
      <h1>Weibo RAG</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home/">Home</a></li>
          <li class="breadcrumb-item">weibo</li>
          <li class="breadcrumb-item active">choose model</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div >
          <div class="row">

            <!-- Recent task -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Week</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>
                
                <div class="card-body">
                  <h5 class="card-title">AI <span>| fighting</span></h5>
                    
                    
                      <div class="col-sm-3">
                        <select id="type_select" name="type_name_select" class="form-select" aria-label="Default select example">
                          <option value="-1">--请选择模型框架--</option>
                        </select>
                      </div>
                      <div class="col-sm-3">
                        <select id="model_select" name="choose_select" class="form-select" aria-label="Default select example">
                          <option value="-1">--请选择模型名称--</option>
                        </select>
                      </div>
                      
                      <div class="col-sm-3">
                        <select id="KB_id" name="KB_id" class="form-select" aria-label="Default select example">
                          <option value="0">--请选择知识库的kb_id--</option>
                        </select>
                        <label id="kb_name"></label>
                      </div>
                      <div  class="row mb-3">
                        <label class="col-sm-2 col-form-label">Top_K:</label>
                        <div class="col-sm-3">
                          <input type="range" id="top_selector" name="top_selector" min="0" max="10" step="1" value="5" oninput="updateValue1(this)">
                        </div>
                        <div class="col-sm-3">
                          <span id="value1-display">5</span>
                        </div>
                      </div>
                      <div  class="row mb-3">
                        <label class="col-sm-2 col-form-label">Temperature:</label>
                        <div class="col-sm-3">
                          <input type="range" id="number-selector" name="number-selector" min="0" max="100" step="1" value="50" oninput="updateValue2(this)">
                        </div>
                        <div class="col-sm-3">
                          <span id="value2-display">50</span>
                        </div>
                      </div>
                          <label for="inputPassword" class="col-sm-2 col-form-label">query</label>
                          <div class="col-sm-10">
                            <textarea class="form-control" style="height: 100px" id="query"></textarea>
                          </div>
                      <div class="col-sm-3">
                      </div>
                      <label for="inputPassword" class="col-sm-2 col-form-label">KB result</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" style="height: 100px" id="result"></textarea>
                      </div>
                      <label for="inputPassword" class="col-sm-2 col-form-label">answer</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" style="height: 100px" id="answer"></textarea>
                      </div>
                      <div class="col-sm-3">
                        <button id="submit_model_run" type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </div>
                    
                </div>
                
              </div>
            </div><!-- End Recent Sales -->

          </div>
        </div><!-- End Left side columns -->

        

      </div>
    </section>

{% endblock %}

{% block js %}
<script src="/weibo_UI/static/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
  function updateValue1(slider){
    var display = document.getElementById("value1-display");
    display.innerHTML = slider.value;
  }
</script>
<script type="text/javascript">
  function updateValue2(slider){
    var display = document.getElementById("value2-display");
    display.innerHTML = slider.value;
  }
</script>
<script type="text/javascript">

  $(function () {
      //页面框架加载完成后代码自动执行
      bindBtn1Event_Task();
  })
  
  
  function bindBtn1Event_Task(){
    $("#submit_model_run").click(function () {
          var type_name = document.getElementById("type_select").value; // 获取输入框中的值
          var model_name = document.getElementById("model_select").value; // 获取输入框中的值
          var KB_id = document.getElementById("KB_id").value; // 获取输入框中的值
          var top_selector = document.getElementById("top_selector").value; // 获取输入框中的值
          var query = document.getElementById("query").value; // 获取输入框中的值
          console.log('hello')
          console.log(query)
          if (type_name=="-1") {
            alert('type_name 请选择!')
          } else if (model_name=="-1") {
            alert('model_name 请选择!')
          } else if (KB_id=="-1") {
            alert('KB_id 请选择!')
          } else if (top_selector=="-1") {
            alert('top_selector 请选择!')
          } else if (query=="") {
            alert('query 请填写!')
          } else {
            $.ajax({
                url:"/weibo_UI/weibo_model_run",
                type:"post",
                data:JSON.stringify({'Type':'run','type_name':type_name,'model_name':model_name,'KB_id':KB_id,'top_selector':top_selector,"query":query}),
                contentType: 'application/json; charset=UTF-8',
                success: function(choose_dict) {
                    if (choose_dict['result']) {
                      // 获取<textarea>元素的引用
                      var textarea = document.getElementById("answer");
                                            
                      // 设置<textarea>元素的内容
                      textarea.innerHTML = choose_dict['rag_result'];
                      // 获取<textarea>元素的引用
                        var textarea_res = document.getElementById("result");
                                            
                      // 设置<textarea>元素的内容
                        textarea_res.innerHTML = choose_dict['retrieve_result'];
                    } else {
                        alert('处理失败');
                    }
                },

            })
          }

      })
      $("#type_select").click(function () {
          type_name='choose_type'
          console.log('hello1')
          count = $('#type_select').find('option').length
          if (count<=1) {
            $.ajax({
                url:"/weibo_UI/weibo_choose_model",
                type:"post",
                data:JSON.stringify({'type_name':type_name}),
                contentType: 'application/json; charset=UTF-8',
                success: function(choose_dict) {
                  file_list=choose_dict['content']
                      $("#type_select").find("option").remove();
                      count = $('#type_select').find('file_list').length
                      console.log(count)
                      $.each(file_list, function(index,item) {
                        if (!count) {
                          $("#type_select").append(  //此处向select中循环绑定数据
                          "<option value="+item+">" + item+ "</option>");
                        }
                      });
                },
              
            })
          }

      })
      $("#model_select").click(function () {
          type_name='choose_model'
          var type_select = document.getElementById("type_select").value;
          count = $('#model_select').find('option').length
          if (count<=1) {
            $.ajax({
                url:"/weibo_UI/weibo_choose_model",
                type:"post",
                data:JSON.stringify({'type_name':type_name,'type_select':type_select}),
                contentType: 'application/json; charset=UTF-8',
                success: function(choose_dict) {
                  file_list=choose_dict['content']
                      $("#model_select").find("option").remove();
                      count = $('#model_select').find('file_list').length
                      console.log(count)
                      $.each(file_list, function(index,item) {
                        if (!count) {
                          $("#model_select").append(  //此处向select中循环绑定数据
                          "<option value="+item+">" + item+ "</option>");
                        }
                      });
                },
              
            })
          }

      })
      $("#KB_id").click(function () {
          type_name='choose_KB'
          count = $('#KB_id').find('option').length
          console.log(count)
          if (count<=1) {
            $.ajax({
                url:"/weibo_UI/weibo_choose_model",
                type:"post",
                data:JSON.stringify({'type_name':type_name}),
                contentType: 'application/json; charset=UTF-8',
                success: function(choose_dict) {
                  file_list=choose_dict['content']
                      $("#KB_id").find("option").remove();
                      count = $('#KB_id').find('file_list').length
                      console.log(count)
                      $.each(file_list, function(index,item) {
                        kb_name=item['kb_name'];
                        kb_id=item['kb_id'];
                        if (!count) {
                          $("#KB_id").append(  //此处向select中循环绑定数据
                          "<option value="+kb_id+">" + kb_name+ "</option>");
                        }
                      });
                },
              
            })
          }

      })
      $("#copy_run").click(function () {
          var answer = document.getElementById("answer").value; // 获取输入框中的值
          if (answer=="") {
            alert('请先去生成回答!')
          } else {
            $.ajax({
                url:"/weibo_UI/weibo_model_run",
                type:"post",
                data:JSON.stringify({'Type':'copy','answer':answer}),
                contentType: 'application/json; charset=UTF-8',
                success: function(choose_dict) {
                    if (choose_dict['result']) {
                        alert('复制成功');
                    } else {
                        alert('处理失败');
                    }
                },

            })
          }

      })
  }

</script>

{% endblock %}